@import '@fontsource/fira-mono';

:root {
	font-family: var(--font-mono);
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: rgb(24, 24, 24);
	overflow-x: hidden;
}

* {
	margin: 0;
	box-sizing: border-box;
}

#svelte {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.webgl {
	position: absolute;
	bottom: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
}

.container {
	height: 100vh;
	display: grid;
	place-items: center;
}

h1 {
	font-size: 7rem;
	text-transform: uppercase;
	color: white;
}

section {
	height: 100vh;
}
